html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #fff;
    margin: 0px;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}

#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 200px;
    margin-left: -100px;
}

nav ul li {
    display: inline-block;
    margin: 10px 20px;
    margin-top: -15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-top: -10px;
    margin-right: -10px;
     position: relative;
} 

/* nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.6s;
    transform-origin: left center;
} */

nav ul li a:hover {
    color: #ff004f;
    width: 100%;
}

/* New layout styles */
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 100px); /* Subtract nav height */
    padding: 0 10%;
}

#headertext {
    flex: 1;
    padding-right: 50px;
}

#headertext p {
    font-size: 30px;
    margin-bottom: 35px;
}

#headertext h1 {
    font-size: 55px;
    margin-top: 20px;
}

#headertext h1 span{
    color: #ff004f;
}

#myimg {
    flex: 1;
    height: 87vh;
    background-image: url('images/background4-removebg-preview.png');
    background-size: cover;
    background-position: center;
}


/* ------------aboutstartsfromhere -------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutcol1{
    flex-basis: 35%; 

}

.aboutcol1 img{
     width: 100%;
    border-radius: 15px;
}

.aboutcol2{
    flex-basis: 60%;
}
.aboutcol2 p{
    font-size: 20px;
}

.subtitle{
    align-content: center;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
} 

.tabtitle{
    display: flex;
    margin: 20px 0 40px;

}

.tablinks{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
 .tablinks activelinks{
    width: 50%;
} 

.tablinks:hover::after{
    width: 100%;
}

.tabcontent ul li{
        list-style: none;
        font-size: 20px;
        margin: 10px 0px;

}

.tabcontent ul li span{
    font-size: 25px;
    color: #8e153bd8;
}

.tabcontent{
    display: none;
}

.tabcontent.activetab{
    display: block;
}

#services{
    padding: 30px 0;
}

.containerser h1{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.containerser {
    padding: 10px 10%;
}

.servicelist{
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    

}
.servicelist div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 330;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    
}

.servicelist div i{
    font-size: 55px;
    margin-bottom: 30px;

}
.servicelist div h2{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 15px;

}

.servicelist div a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}

.servicelist div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}


/* portfolio */
#portfolio{
    padding: 50px 0;
    margin-left: 50px;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.work{
    /* margin-left: 50px; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    /* margin-left: 50px; */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6) ,#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0%;
    bottom: 0%;
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    margin-right: 20px;
    /* text-align: center; */
    font-size: 15px;
    transition: height 0.5s;
}
.layer p{
    align-content: center;
    justify-content: center;
}

.layer h3{
    
    font-weight: 500;
    margin-bottom: 20px;
} 

.layer a{
    /* justify-content: center; */
    margin-left: 90px;
    margin-top: 20px;
    color:#ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.2);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin-left: 43%;
    margin-top: 30px;
    justify-content: center;
    text-decoration: none;
    color: #ababab;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 35px;
    border-radius: 6px;

}

.btn:hover{
    background: #ff004f;
}



/* contact------------------ */
.contactleft{
    flex-basis: 40%;
}

.contactright{
    flex-basis: 60%;
}

.contactleft p{
    margin-top: 30px;   
}

.contactleft p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.socialicons{
    margin-top: 30px;
}

.socialicons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.socialicons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
    margin-left: 5px;
    margin-top: 30px;
}

.contactright form{
    width: 100%;
}
form input , form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #262626;
    font-weight: 350;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}

.subtitle {
    font-size: 40px;
}

/* contact form  */
.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .toast.show {
    display: block;
    animation: fadeInOut 4s ease;
  }
  
  @keyframes fadeInOut {
    0%, 90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  